 * {
    font-family: "Red Hat Display";
    box-sizing: border-box;
  }
@media only screen and (max-width: 2000px)and (min-width: 1024px) {
 
  body {
    width: 100%;
    /* height: 100vh; */
    padding: 0;
    margin: 0;
    background-color: #fafafa;
  }

  .tablet {
    display: none;
  }
  .mobile {
    display: none;
  }
  .tablet-footer-text {
    display: none;
  }
  a {
    text-decoration: none;
  }
  .header {
    margin: 80px auto 0;
  }

  .header img {
    max-width: 100%;
    height: 28px;
    margin: 0 auto 61px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero {
    max-width: 100%;
    height: 358px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 88px;
  }
  .hero img {
    max-width: 100%;
    object-fit: cover;
  }

  .hero .one {
    margin-top: -75px;
  }
  .hero .two {
    margin-bottom: -80px;
  }

  .text {
    width: 540px;
    height: 304px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -50px;
  }
  .text h1 {
    font-size: 64px;
    text-align: center;
    width: 445px;
    height: 128px;
    font-weight: 700;
    line-height: 1;
    margin: 0px;
    color: #28283d;
  }
  .text p {
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    margin-top: 47px;
    width: 540px;
    height: 42px;
    color: #87879d;
  }
  .text .ctas {
    display: flex;
    flex-direction: row;
    width: 348px;
    height: 58px;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
  .text .cta-1 {
    font-size: 16px;
    background-color: #4d96a9;
    font-weight: 700;
    border: none;
    color: #ffffff;
    height: 58px;
    width: 193px;
    border-radius: 50px;
    cursor: pointer;
  }
  .text .cta-1 span {
    color: #8fe3f9;
  }
  .text .cta-1:hover {
    color: #ffffff;
    background-color: #71c0d4;
  }
  .text .cta-1 span:hover {
    color: #8fe3f9;
  }
  .text .cta-2 {
    font-size: 16px;
    background-color: #855fb1;
    border: none;
    font-weight: 700;
    color: #ffffff;
    height: 58px;
    width: 152px;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 16px;
  }

  .text .cta-2:hover {
    color: #ffffff;
    background-color: #b18bdd;
  }
  .num {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-weight: 700;
    position: absolute;
    text-align: center;
    color: #87879d;
    bottom: -20%;
    width: 56px;
    margin: 0 auto;
    height: 56px;
    font-size: 16px;
    border: 1px solid #87879d;
    stroke: #87879d;
    background-color: #ffffff;
    border-radius: 50%;
    align-items: center;
    z-index: -1;
  }
  .arrow {
    width: 1px;
    background-color: #d8d8d8;
    height: 84px;
    position: relative;
    stroke: #87879d;
  }

  .design {
    position: relative;
    margin: 110px auto 0;
    /* left: 47%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 140px;
    overflow: visible;
    z-index: 999;
  }

  .pic-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    align-items: center;
    margin: 64px auto;
    width: 1110px;
    height: 242px;
    stroke: #979797;
  }
  .pic-card img {
    width: 255px;
    height: 242px;
    margin: auto;
    object-fit: cover;
    border-radius: 10px;
  }
  .new-hero {
    width: 540px;
    height: 240px;
    margin: 0 auto;
  }
  .new-hero .new-text {
    text-align: center;
    width: 100%;
    align-items: center;
  }
  .new-text .mobile{
    display: none;
  }
  .new-text .tablet{
    display: none;
  }
  .new-text h6 {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    /* width: 272px;
    height: 26px; */
    font-weight: 700;
    color: #4d96a9;
  }
  .new-text h2 {
    font-size: 40px;
    /* width: 445px;
    height: 88px; */
    text-align: center;
    color: #28283d;
    font-weight: 700;
  }
  .new-text .desktop {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    height: 78px;
    color: #87879d;
  }
  /* .d-2 {
    margin-top: 72px;
  } */
  footer {
    width: 100%;
    position: relative;
    height: 308px;
    padding: 133px 165px;
    color: white;
    height: 308px;
    background: url("../assest/desktop/image-footer.jpg") no-repeat;
    background-size: cover;
    overflow: hidden;
    right: 0;
    bottom: 0;
  }

  .overlay {
    max-width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(77, 150, 168, 0.7);
    overflow: hidden;
    z-index: 2;
  }

  .footer-text {
    display: flex;
    flex-direction: row;
    width: 1110px;
    height: 88px;
    justify-content: space-around;
    align-items: center;
    margin: 118px auto;
  }
  .footer-text h4 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
  }
  .footer-text p {
    font-size: 18px;
    width: 350px;
    height: 78px;
  }
  .footer-text .cta-3 {
    font-size: 16px;
    background-color: #855fb1;
    font-weight: 700;
    border: none;
    color: #ffffff;
    height: 58px;
    width: 193px;
    border-radius: 50px;
    cursor: pointer;
  }
  .footer-text .cta-3 span {
    color: #d9b8ff;
  }

  .footer-text .cta-3:hover {
    color: #ffffff;
    background-color: #b18bdd;
  }
  .footer-text .cta-3 span:hover {
    color: #d9b8ff;
  }
}
/* END OF DESKTOP VIEW */

@media only screen and (max-width: 1024px) and (min-width: 641px) {
  .hero {
    display: none;
  }
  .mobile {
    display: none;
  }
  body{
    padding: 0;
    margin: 0;
  }
  .header {
    margin: 80px auto 0;
  }
   .header img {
    margin: 0 auto 61px;
    display: flex;
    margin: 0 auto;
  } 
  .tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .tablet img {
    margin-top: 64px;
    max-width: 100%;
    height: 303px;
    object-fit: cover;
  }

  .tablet .text {
    margin-top: 72px auto 0;
    /* width: 457px; */
    height: 262px;
  }
  .tablet .text h1 {
    font-size: 48px;
    text-align: center;
  }
  .tablet .text p {
    font-size: 16px;
    text-align: center;
  }

  .tablet .text .ctas {
    display: flex;
    flex-direction: row;
    /* width: 348px;
    height: 58px; */
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
  .tablet .text .cta-1 {
    font-size: 16px;
    font-weight: 700;
    background-color: #4d96a9;
    border: none;
    color: #ffffff;
    height: 58px;
    width: 193px;
    border-radius: 50px;
    cursor: pointer;
  }
  .tablet .text .cta-1 span {
    color: #8fe3f9;
  }
  .tablet .text .cta-1:hover {
    color: #ffffff;
    background-color: #71c0d4;
  }
  .tablet .text .cta-1 span:hover {
    color: #8fe3f9;
  }
  .tablet .text .cta-2 {
    font-size: 16px;
    background-color: #855fb1;
    font-weight: 700;
    border: none;
    color: #ffffff;
    height: 58px;
    width: 152px;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 16px;
  }

  .tablet .text .cta-2:hover {
    color: #ffffff;
    background-color: #b18bdd;
  }
  .design {
    position: relative;
    margin: 110px auto 0;
    /* left: 47%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 140px;
    overflow: visible;
    z-index: 999;
  }
  .num {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-weight: 700;
    position: absolute;
    text-align: center;
    color: #87879d;
    top: 80%;
    width: 56px;
    margin: 0 auto;
    height: 56px;
    font-size: 16px;
    border: 1px solid #87879d;
    stroke: #87879d;
    background-color: #ffffff;
    border-radius: 50%;
    align-items: center;
    z-index: -1;
  }
  .arrow {
    width: 1px;
    background-color: #d8d8d8;
    height: 84px;
    position: relative;
    stroke: #87879d;
  }
  .pic-card {
    display: flex;
    flex-direction: row;
    gap: 11px;
    align-items: center;
    justify-content: center;
    max-width: 689px;
    height: 156px;
    stroke: #979797;
    margin: 134px auto 0;
  }
  .pic-card img {
    width: 164px;
    height: 156px;
    /* margin-top: 134px; */
    object-fit: cover;
    border-radius: 10px;
  }

  .new-hero {
    max-width: 100%;
    height: 240px;
    margin: 51px auto;
  }
  .new-hero .new-text {
    text-align: center;
    max-width: 100%;
    align-items: center;
  }
  .new-text .mobile{
    display: none;
  }
  .new-text .desktop{
    display: none;
  }
  .new-text h6 {
    font-size: 16px;
    text-align: center;
    letter-spacing: 4px;
    font-weight: 700;
    margin: 0;
    color: #4d96a9;
    text-transform: uppercase;
  }
  .new-text h2 {
    margin: 16px auto 0;
    font-size: 40px;
    /* width: 445px;
    height: 88px; */
    text-align: center;
  }
  .new-text .tablet {
    font-size: 16px;
    height: 78px;
    /* width: 573px; */
    color: #87879d;
    text-align: center;
  }

  .design {
    margin-top: 80px;
  }
  .footer-text {
    display: none;
  }
  footer {
    max-width: 100%;
    height: 428px;
    position: relative;
    /* padding: 133px 165px; */
    color: white;
    background: url("../assest/tablet/image-footer.jpg") no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  .overlay {
    max-width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(77, 150, 168, 0.7);
    overflow: hidden;
    z-index: 2;
  }
  .tablet-footer-text {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 92px auto;
    max-width: 100%;
    height: 428px;
    justify-content: center;
    align-items: center;
  }
  .tablet-footer-text h4 {
    font-size: 40px;
    text-align: center;
    width: 457px;
    font-weight: 700;
    margin: 0;
  }
  .tablet-footer-text{
    font-size: 18px;
    margin-top: 32px;
    text-align: center;
    width: 573px;
  }
  .tablet-footer-text .cta-3 {
    font-size: 16px;
    background-color: #855fb1;
    border: none;
    color: #ffffff;
    font-weight: 700;
    height: 58px;
    width: 193px;
    margin: 40px 0;
    padding: 16px;
    border-radius: 50px;
    cursor: pointer;
  }
  .tablet-footer-text .cta-3 span {
    color: #d9b8ff;
  }

  .tablet-footer-text .cta-3:hover {
    color: #ffffff;
    background-color: #b18bdd;
  }
  .tablet-footer-text .cta-3 span:hover {
    color: #d9b8ff;
  }
}

/* MOBILE */
@media only screen and (max-width: 640px) and (min-width:280px)  {
  .hero {
    display: none;
  }
  .tablet {
    display: none;
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 54px auto 0;
  }
  body {
    margin: 0;
    padding: 0;
  }
  .mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .mobile img {
    max-width: 100%;
    margin-top: 54px;
    object-fit: cover;
  }
  .mobile .mobile-hero {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .mobile .mobile-hero h1 {
    margin-top: 48px;
    max-width: 100%;
    text-align: center;
    height: 88px;
    font-size: 40px;
  }
  .mobile .mobile-hero p {
    width: 327px;
    text-align: center;
    height: 78px;
    font-size: 16px;
    margin-top: 24px;
  }
  .mobile .mobile-hero .ctas {
    display: flex;
    flex-direction: column;
    width: 193px;
    height: 132px;
    margin-top: 32px;
    justify-content: center;
    align-items: center;
    gap: 17px;
  }
  .design {
    margin: 64px 0 0;
    width: 56px;
    align-items: center;
    height: 140px;
  }
  .mobile .mobile-hero .cta-1 {
    font-size: 16px;
    padding: 16px;
    font-weight: 700;
    background-color: #4d96a9;
    border: none;
    color: #ffffff;
    height: 58px;
    width: 193px;
    border-radius: 50px;
    cursor: pointer;
  }
  .mobile .mobile-hero .cta-1 span {
    color: #8fe3f9;
  }
  .mobile .mobile-hero .cta-1:hover {
    color: #ffffff;
    background-color: #71c0d4;
  }
  .mobile .mobile-hero .cta-1 span:hover {
    color: #8fe3f9;
  }
  .mobile .mobile-hero .cta-2 {
    font-size: 16px;
    padding: 16px;
    font-weight: 700;
    background-color: #855fb1;
    border: none;
    color: #ffffff;
    margin: 0;
    height: 58px;
    width: 139px;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 16px;
  }

  .mobile .text .cta-2:hover {
    color: #ffffff;
    background-color: #b18bdd;
  }
  .design {
    position: relative;
    margin: 64px auto 0;
    /* left: 47%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 140px;
    overflow: visible;
    z-index: 999;
  }
  .num {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-weight: 700;
    position: absolute;
    text-align: center;
    color: #87879d;
    top: 80%;
    width: 56px;
    margin: 0 auto;
    height: 56px;
    font-size: 16px;
    border: 1px solid #87879d;
    stroke: #87879d;
    background-color: #ffffff;
    border-radius: 50%;
    align-items: center;
    z-index: -1;
  }
  .arrow {
    width: 1px;
    background-color: #d8d8d8;
    height: 84px;
    position: relative;
    stroke: #87879d;
  }
  .pic-card {
    max-width: 100%;
    height: 310px;
    margin: 64px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    gap: 25px;
  }
  .pic-card img {
    width: 151px;
    height: 143px;
    margin: 0 auto;
  }
  .new-hero {
    max-width: 100%;
    height: 284px;
    margin: 61px auto;
  }
  .new-hero .new-text {
    text-align: center;
    max-width: 100%;
    align-items: center;
  }
  .new-text .tablet{
    display: none;
  }
  .new-text .desktop{
    display: none;
  }
  .new-text h6 {
    font-size: 16px;
    text-align: center;
    letter-spacing: 4px;
    font-weight: 700;
    margin: 0;
    color: #4d96a9;
    text-transform: uppercase;
  }
  .new-text h2 {
    font-size: 32px;
    text-align: center;
    margin: 24px 0 0 0;
  }
  .new-text .mobile {
    font-size: 16px;
    color: #87879d;
    height: 78px;
    margin: 32px 0 0 0;
    text-align: center;
  }

  footer {
    max-width: 100%;
    height: 428px;
    position: relative;
    color: white;
    background: url("../assest/mobile/image-footer.jpg") no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  .overlay {
    max-width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(77, 150, 168, 0.7);
    overflow: hidden;
    z-index: 2;
  }
  .mobile-footer {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 92px auto;
    width: 327px;
    justify-content: center;
    align-items: center;
  }
  .mobile-footer h4 {
    font-size: 32px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    width: 327px;
    height: 72px;
    font-weight: 700;
    line-height: 1;
  }
  .tablet-p {
    display: none;
  }
  .mobile-footer .mobile {
    font-size: 18px;
    margin: 32px 0;
    text-align: center;
    width: 327px;
    height: 78px;
  }
  .mobile-footer .cta-3 {
    font-size: 16px;
    background-color: #855fb1;
    font-weight: 700;
    border: none;
    color: #ffffff;
    height: 58px;
    width: 193px;
    margin-top: 32px;
    padding: 16px;
    border-radius: 50px;
    cursor: pointer;
  }
  .mobile-footer .cta-3 span {
    color: #d9b8ff;
  }

  .mobile-footer .cta-3:hover {
    color: #ffffff;
    background-color: #b18bdd;
  }
  .mobile-footer .cta-3 span:hover {
    color: #d9b8ff;
  }
}
